.fll{float: left;}
.flr{float: right}
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix{zoom:1;} // 兼容ie，触发haslayout
.cursorPot:hover{
  cursor: pointer;
}
.themeBgColor_light{
  background: #42B3BE;
}
.themeBgColor_disable{
  background: #42B3BE;
}
.themeColor_dark{
  color:#42B3BE;
}
.whiteColor{color: #FFFFFF;}
.themePaddinglr{
  padding: 0 2rem;
}